*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    line-height: 0.5;
    text-decoration: none;
    
}
body{
    background-color: #f1f3f6;
    
}
/* header */
header{
    
}
header .container{
    width: 100%;
    height: 56px;
    background-color: #2874f0;
    color: #f0f0f0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}
header .container .flipcart-icon{
    height: 20px;
    width: 75px;
}
header .container .gold-star{
    height: 10px;
    width: 10px;
}
header .container .plus{
    color: #ffe500;
    font-weight: 500;
    margin-right: 2px;
    
}
header .container table p{
    font-size: 11px;
    display: inline-block;
    margin-right: 2px;
}
header .container .search-btn{
    background-color: #ffff;
    width: 42px;
    height: 36px;
    margin-left: -5px;
    border-left: none;
    position: absolute;
    border: none;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));


}
header .container .search-icon{
    height: 14px;
    width: 14px;
    
}
header .container input{
    width: 564px;
    height: 36px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    margin-left: -186px;
}
header .container .cart{
    width: 16px;
    height: 16px;
    margin-right: 5px;
    
}
header .container .login-div{
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-top: 4px;
}
header .container .login-btn{
    width: 121px;
    height: 32px;
    color: #2874f0;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
header .container .more-btn{
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .2px;
}
header .cart-h2{
    margin-top: 6px;
}

nav img{
    height: 64px;
    width: 64px;
}
nav .inner-nav{
    margin: 15px 100px 15px 100px;
    display: flex;
    justify-content: space-around;
}
nav .inner-nav p{
    margin: 8px 0px 1px 8px;
    font-weight: 500;
    font-size: 14px;
}
.sbi img{
    margin-top: 10px;
    width: 100%;
    height: 130px;
}
main div .card{
    width: 230px;
    height: 361px;
    padding: 28px 10px 124px;
    background-image: url("/images/bg1.jpg");
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: bottom;
    text-align: center;
    padding-top: 100px;
    background-color: #fff;

}
main div .card6{
    background-image: url("/images/bg2.jpg");
}
main .card h2{
    font-size: 30px;
    line-height: 2.38;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 16px;
}
main .card button{
    height: 37.6px;
    width: 95.65px;
    background-color: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}
main .card a{ 
    color: #fff;
    border: none;  
}
main .cards{
    margin: 10px 0px 0px 10px;
    display: flex;
    background-color: #fff;;

}
main .card1{
    width: 200px;
    height: 361px;
    margin-left: 20px;
    
}
main .card-img{
    width: 132px;
    height: 210px;
    margin: 20px 25px;
}
.card1 h2{
    font-size: 14px;
    font-weight: 500;
    margin: 18px 0px 0px 38px;
    line-height: 2;
}
.card1 .amount{
    line-height: 2;
    margin-left: 44px;
    font-size: 16px;
    color: #388e3c;
}
.card1 .spec{
    line-height: 2;
    margin-left: 30px;



}
.boat-card{
    width: 200px;
    height: 354px;
}
.offers{
    display: flex;
}
.offer1{
    margin: 5px;
}
.offer1:nth-child(1){
    margin-left: 10px;
}
.offer-img{
    width: 493px;
    height: 264px;
}

.stories{
    margin-top: 5px;
    padding: 40px 20px;
    width: 100%;
    color: #878787;
    background-color: #fff;
    
}
.stories h1{
    line-height: 2;

}
.stories p ,pre{
    line-height: 1.5;
}
.footer{
    width: 100%;
    height: 247px;
    background-color: #05293f;
    display: flex;
    justify-content: space-around;
    color: #878787;
    padding-top: 50px;
    
    font-size: 12px;
    
}
.footer .info{
    display: flex;
    flex-direction: column;
    line-height: 2;
    margin-bottom: 0px;
}
.info p{
    margin-bottom: 10px;
}
.footer .info a{
    margin: 8px 10px 8px 0px;
    font-size: 12px;
    color: #ffff;
    font-weight: 400;
}
.address{
    margin: 20px 10px 10px 0px;
    font-size: 12px;
    color: #ffff;
    font-weight: 200;
    line-height: 0;
}
.border{
    width: auto;
    height: auto;
    margin-right: 20px;
    border-left: solid 1px #878787;
}
.border1{
    margin-left: 20px;
}
.footer-end{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #05293f;
}
.foot p{
    margin-left: 25px;
    margin-top: -9px;
    color: #ffff;
}
.copy p{
    color: #ffff;
    margin-top: 5px;
}